<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link href="css/style.css" rel="stylesheet">
	<link href="css/header.css" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link
		href="https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Anton&family=Caesar+Dressing&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
		rel="stylesheet">
	<script src="https://kit.fontawesome.com/daad0519d5.js" crossorigin="anonymous"></script>
	<script defer src="js/gallery.js"></script>
	<title>Mirkside</title>
</head>


<body>
	{{template "header.html"}}



	<!-- Main Title -->
	<div class="main_title">
		<div class="container">
			<div class="main_text">
				<p>Mirkside</p>
			</div>

		</div>
	</div>

	<!-- Shops -->
	<div class="shop_block">
		<div class="container">
			<div class="shop_header">
				<p>Buy Mirkside here</p>
			</div>
			<div class="shops">
				<a href="">
					<div class="shop_element">
						<div class="shop_icon">
							<img src="img/steam.png">
						</div>
						<div class="shop_text">
							STEAM
						</div>
					</div>
				</a>
				<a href="">
					<div class="shop_element">
						<div class="shop_icon">
							<img src="img/steam.png">
						</div>
						<div class="shop_text">
							STEAM
						</div>
					</div>
				</a>
				<a href="">
					<div class="shop_element">
						<div class="shop_icon">
							<img src="img/steam.png">
						</div>
						<div class="shop_text">
							STEAM
						</div>
					</div>
				</a>
			</div>
			<div class="shops">
				<a href="">
					<div class="shop_element">
						<div class="shop_icon">
							<img src="img/steam.png">
						</div>
						<div class="shop_text">
							STEAM
						</div>

					</div>
				</a>


			</div>
		</div>
	</div>
	<!-- About -->
	<div class="description_block">
		<div class="container">
			<p class="desc_title">
				THEY WHISPER TO US
			</p>

			<div class="desc_text">
				<p>
					Teetering on the edge of the real and
					the supernatural, you find yourself
					in the forgotten town of Mirkside,
					where every encounter may be your last,
					and every corner holds its own secrets. A town gripped by evil awaits
					its hero who can stand against invisible forces and uncover its dark mysteries.
				</p>
				<p>
					Captivating Atmosphere: Realistic graphics and a terrifying soundtrack create a unique ambiance
					that immerses you in a world of nightmares.Intriguing Plot: Discover the dark secrets hidden in
					Mirkside as you navigate
					through a twisted and engaging story full of unexpected turns.
				</p>
				<p>
					Interactive Challenges: Solve puzzles, use the environment, and interact with the world around you
					to survive.
				</p>
				<p>
					Unpredictable Dangers: Be prepared to face horrors from the darkest corners of your mind. In
					Mirkside, no hideaway is truly safe.
					Mirkside is designed for those who are ready to confront their fears and survive in a world made to
					test your ability to stay composed. Your bravery will be put through the toughest trials.
				</p>
			</div>
		</div>
	</div>

	<div class="video_block">
		<div class="container">
			<p class="desc_title">
				THEY SHOW TO US
			</p>
			<div class="video_player">
				<video width="100%" height="100%" controls="controls">
			</div>

		</div>
	</div>


	<div class="gallery_block">
		<div class="container">
			<p class="desc_title">
				THEY SEE US
			</p>
			<div class="gallery">
				<div class="gallery_row">
					<img class="gallery-image" src="https://imgholder.ru/323x300/9dbf16/fff&text=image">
					<img class="gallery-image" src="https://imgholder.ru/323x300/9dbf16/fff&text=image">
					<img class="gallery-image" src="https://imgholder.ru/323x300/9dbf16/fff&text=image">
					<img class="gallery-image" src="https://imgholder.ru/323x300/9dbf16/fff&text=image">
				</div>

				<div class="gallery_row">
					<img class="gallery-image" src="https://imgholder.ru/323x300/9dbf16/fff&text=image">
					<img class="gallery-image" src="https://imgholder.ru/323x300/9dbf16/fff&text=image">
					<img class="gallery-image" src="https://imgholder.ru/323x300/9dbf16/fff&text=image">
					<img class="gallery-image" src="https://imgholder.ru/323x300/9dbf16/fff&text=image">
				</div>

				<div class="gallery_row">
					<img class="gallery-image" src="https://imgholder.ru/323x300/9dbf16/fff&text=image">
					<img class="gallery-image" src="https://imgholder.ru/323x300/9dbf16/fff&text=image">
					<img class="gallery-image" src="https://imgholder.ru/323x300/9dbf16/fff&text=image">
					<img class="gallery-image" src="https://imgholder.ru/323x300/9dbf16/fff&text=image">
				</div>

			</div>

		</div>
	</div>

	{{template "footer.html"}}


</body>

</html>